:8080 {
    encode gzip

    reverse_proxy 127.0.0.1:8008
}

:443 {
    tls /opt/nezha/tls/grpc.pem /opt/nezha/tls/grpc.key
    reverse_proxy {
        to 127.0.0.1:8008
        transport http {
            versions h2c 2
        }
    }
}
